
.xContainer2 {
    width: 340px;
    height: 480px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #ccc;
    padding: 20px 5px 100px 5px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px #ccc;
} 


 #fakeHomebtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f2f2f2;
    margin: 15px auto;
    box-shadow: inset 0px 0px 10px 0px #bdbdbd;
    border: 1px solid #c6c6c6;
} 

#speaker2 {
    width: 50px;
    height: 5px;
    border-radius: 15px;
    background: #f2f2f2;
    margin: 0px auto 15px;
    box-shadow: inset 0px 0px 10px 0px #bdbdbd, inset 0px 5px 0px 0px #bdbdbd;
    border: 1px solid #c6c6c6;
}



.appContainer {
    height: 100%;
    background-color: rgb(64, 72, 84);
    border: none;

}


.loginbox {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 135px;
    height: 125px;
    top: -76px;
    left: calc(45% - 50px);
    position: absolute;
}

.authHeading {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.formLabel {
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}

.formInput {
    width: 100%;
    margin-bottom: 20px;
    
}

.loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: .5s ease;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: #ffc107;
}



