.container{
    display: grid;
    justify-content: center;
}

.appContainer{
    width: 375px;
    height: 667px;
    background-color:#EFF2F2;
    border: none;
}

.appNameLogo{
    padding-top: 43px;
    padding-left: 10px;
    width: 284px;
    height: 188px;
}

.appSubHeading{
    font-family: Segoe UI;
    font-size: 26px;
    font-weight:500;
    margin: 0px;
    color: #BCBCBC;
    padding-top: 43px;
    padding-left: 14px;
}

