
.containerMain {
    width: 100%;
}

.hero {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto;
    grid-template-areas:
        "c c c c c c c c c c c c "
        ". t t t t t t . f f f .";
    background-image: url("../../../assets/img/newBack.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .hero {
        grid-template-areas:
            ". c c c c c c c c c c . "
            ". t t t t t t t t t t .";
        background-image: url("../../../assets/img/mobileBackground.png");
        text-align: center;
    }

    .hero_app_phone {
        display: none;
    }


}

.hero_spacer {
    grid-area: c;
}

.hero_text {
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    width: 546px;
    height: 112px; */
    grid-area: t;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: white;
}

.hero_para_text {
    font-size: 14px;
    font-weight: 300;
    color: rgb(216, 214, 214);
}


.hero_app_phone {
    /* grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 2; */
    grid-area: f;
    /* width: 302px; */
    /* height: 607px; */
}

.hero_app_phone_img {
    width: 85%;
    height: 100%;
}

.hero_get_the_app_btn {
    width: 150px;
    height: 51px;
    background: #C64747;
    border-radius: 21px;
    border: none;
    outline: none;
    /* color: white;
    font-size: 14px;
    font-weight: bold; */
}

.hero_info {
    font-size: 10px;
    font-weight: 200;
    color: rgb(216, 214, 214);

}






.findus {
    background-image: url("../../../assets/img/newFooter.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 500px auto 26px auto;
    grid-template-areas:
        ". . . . . . . . . . c ."
        ". . . . h h h h h h h ."
        "s s s s s s s s s s s s"
        ". . ap ap . . . . . an an ."
        "l l l l l l l l l l l l";
}


@media screen and (max-width: 600px) {
    .findus {
        grid-template-areas:
            ". . . . . . . . c . . ."
            ". . . . h h h h h h h ."
            "s s s s s s s s s s s s"
            ". . . . . ap ap . . . . ."
            ". . . . . an an . . . . ."
            "l l l l l l l l l l l l";
        grid-template-rows: 300px auto 26px auto;

    }

.findus_icon_google {

    margin-top: 4px;
}


}



.findus_get_the_app_btn {
    grid-area: c;
    width: 158px;
    height: 51px;
    background: #C64747;
    border-radius: 21px;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}




.findus_title {
    grid-area: h;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.findus_icon_apple {
    grid-area: ap;
    width: 174px;
    height: 50px;
}

.findus_icon_google {
    grid-area: an;
    width: 174px;
    height: 50px;
}

.findus_spacer {
    grid-area: s;
}

.findus_links {
    grid-area: l;
    justify-content: space-between;
    margin: 15px;

}

.findus_links ul {
    list-style: none;
    color: white;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

.findus_links ul li:first-child {
    font-weight: bold;
}










.features {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 80px auto;

    grid-template-areas:
        ". h h h h h . . . . . ."
        "c c c c c c c c c c c c "
        ". . . . . f f f f f f .";

    background: white;

}


@media screen and (max-width: 600px) {
    .features {
        grid-template-areas:
            ". h h h h h h h h h h ."
            "c c c c c c c c c c c c "
            ". f f f f f f f f f . .";
        grid-template-rows: auto 26px auto;

    }

    .features_img_div {
        background-image: url("../../../assets/img/featureMobile.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        min-height: 300px;
    }

    .feat_img {
        display: none;
    }

    .features_text {
        font-size: 18px;
    }

    .features_para {
        font-size: 12px;

    }


}



.features_img_div {
    grid-area: h;
}

.feat_img {
    width: 150%;
    height: 100%;
}

.features_spacer {
    grid-area: c;
}

.features_text {

    grid-area: f;
    font-size: 22px;
    font-weight: bold;
    color: #393831;
    text-align: right;
}

.features_para {
    font-size: 16px;
    color: #ACABA8;
}